*{
    margin:0;
    padding: 0;
}
body{
    font-size: 16px;
}
header{
    background-color: bisque;
    text-align: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 2em;
}

