*{
    
    margin:0;
    padding: 0;
}
header{
    background-color: bisque;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}
h1{
    text-align: center;
    padding: 100px;
    margin: 20px;
}
